#CLAIM_BACKGROUND_fy {
	fill: rgba(217, 237, 238, 1);
	stroke: rgba(199, 199, 199, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.CLAIM_BACKGROUND_fy {
	position: absolute;
	overflow: visible;
	width: 1206px;
	height: 35px;
	left: 0px;
	top: 75px;
}

#Weekly_Benefit_Amount_200_fz {
	left: 913px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(72, 72, 72, 1);
}

#Entitlement_Type_REG_f {
	left: 223.39px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(72, 72, 72, 1);
}

#Date_of_Claim_2023-08-22_f {
	left: 42.39px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(72, 72, 72, 1);
}

#OPEN_BTN_f {
	position: absolute;
	width: 20px;
	height: 22px;
	left: 11px;
	top: 80px;
	overflow: visible;
}

#Rectangle_27_f {
	fill: rgba(255, 255, 255, 1);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_27_f {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 2px;
}

#n__f {
	left: 7px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(72, 72, 72, 1);
}

#Status_Active_f {
	left: 1113px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(72, 72, 72, 1);
}