<div>
	<svg class="CLAIM_BACKGROUND_fy">
		<rect id="CLAIM_BACKGROUND_fy" rx="0" ry="0" x="0" y="0" width="1206" height="35">
		</rect>
	</svg>
	<div id="Weekly_Benefit_Amount_200_fz">
		<span>Weekly Benefit Amount: </span><span style="font-style:normal;font-weight:bold;">${{
			this.claimantInfo.claimList[0].wba }}</span>
	</div>
	<div id="Entitlement_Type_REG_f">
		<span>Entitlement Type: </span><span
			style="font-style:normal;font-weight:bold;">{{ this.claimantInfo.claimList[0].entitlementType }}</span>
	</div>
	<div id="Date_of_Claim_2023-08-22_f">
		<span>Date of Claim: </span><span
			style="font-style:normal;font-weight:bold;">{{ this.claimantInfo.claimList[0].dateOfclaim }}</span>
	</div>
	<div id="OPEN_BTN_f">
		<svg class="Rectangle_27_f">
			<rect id="Rectangle_27_f" rx="0" ry="0" x="0" y="0" width="20" height="20">
			</rect>
		</svg>
		<div id="n__f">
			<span>-</span>
		</div>
	</div>
	<div id="Status_Active_f">
		<span>Status: </span><span style="font-style:normal;font-weight:bold;">Active</span>
	</div>
</div>